
@font-face {
    font-family: 'NerdFontsSymbolsOnly';
    src: url("resource:///io/smearor/nerd_fonts/SymbolsNerdFont-Regular.ttf");
}
@font-face {
    font-family: 'NerdFontsSymbolsOnlyMono';
    src: url("resource:///io/smearor/nerd_fonts/SymbolsNerdFontMono-Regular.ttf");
}
.nerd-icon {
    font-family: 'NerdFontsSymbolsOnly';
    font-size: 1.5em;
}
.nerd-icon-mono {
    font-family: 'NerdFontsSymbolsOnlyMono';
    font-size: 1.5em;
}
